body {
    background-image: url('../../assets/pokemon_stadium.png'); 
    background-size: cover;
}

.battle-arena {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.arena-heading {
    margin: 10px;
}

.select-heading {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.pokemon-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    margin-top: 50px;
    height: 400px;
    width: 400px;
    background-image: url('../../assets/Poke_Ball.png'); 
    background-size: cover;
    /* border: 7px solid #000000; */
}

.pokemon-select-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.battle-dropdown {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.select-pokemon-button {
    padding: 10px;
    background-color: rgb(121, 210, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.select-pokemon-button:hover {
    background-color: rgb(156, 171, 255);
    transform: translateY(2px);
}

.select-pokemon-button:active {
    background-color: rgb(208, 138, 255);
    
}

.arena {
    display: flex;
    flex-direction: column;
}

.opponents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pokemon-card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.name-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.battle-stats {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stat-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5px;
    width: 400px;
}

/* .stat-name {
    width: 300px;
} */

.battle-image {
    width: 150px;
    height: 150px;
}

.stat-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}

.stat-bar-fill {
    height: 10px;
    border-radius: 10px;
}

.hp-bar-fill {
    background-color: #db4444;
}

.attack-bar-fill {
    background-color: #e08c38;
}

.defense-bar-fill {
    background-color: #3e89d4;
}

.special-attack-bar-fill {
    background-color: #8136cc;
}

.special-defense-bar-fill {
    background-color: #43a243;
}

.speed-bar-fill {
    background-color: #eaed40;
}

.battle-arena {
    text-align: center;
}

.battle-actions {
    display: flex;
    flex-direction: row;
}

.user-actions {
    display: flex;
    flex: wrap;
    flex-direction: row;
    width: 20%;
}

.action-button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    background-color: white;
}

.battle-log {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
    padding: 0 40px 10px 10px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.883);
    border-radius: 5px;
    height: 300px;
    overflow-y: auto;
}

.battle-log-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.new-battle {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 40px;
}